.footer {
    background: #202020;
    padding: 61px 70px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__text {
    font-feature-settings: 'clig' off, 'liga' off;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #8B8B8B;
    padding: 20px 0;
    border-bottom: 1px solid #424242;
}

.footer__copyright {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__year {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__link {
    font-size: 13px;
    text-decoration: none;
    color: #FFF;
    margin-left: 20px;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .footer {
        background: #202020;
        padding: 95px 30px 0;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        padding: 30px 10px 0;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__copyright {
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
    }

    .footer__link {
        margin-left: 0;
    }
}
